@page "{poolId?}"
@model WebApp.Pages.Races.IndexModel
@using Microsoft.AspNetCore.Mvc.Rendering
@using WebApp.Helpers
@{
    ViewData["Title"] = "Races";
}
<h1 class="mb-4">Races</h1>

<div class="d-flex align-items-center w-100 mb-3">
    @if (Model.Races.Any())
    {
        if (Model.LatestPool != null)
        {
            <h2 class="fs-5 fw-bold text-primary mb-0">@Model.LatestPool.Name (@Model.LatestPool.Year)</h2>
        }
    }
</div>

<table class="table table-striped table-bordered align-middle">
    <thead class="table-light">
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Date</th>
            <th>View Results</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var race in Model.Races)
    {
        <tr>
            <td>@race.Name</td>
            <td>@race.Location</td>
            <td>@race.Date.ToShortDateString()</td>
            <td>
                <a class="btn btn-sm btn-success"
                   asp-page="ViewResults"
                   asp-route-raceId="@race.Id">
                    View Results
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>