@page
@model LoginModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-6">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>

                <div class="my-3">
                   
                </div>
                <hr />
                <div class="d-flex flex-column">
                    <span class="text-secondary mx-auto mt-2">OR</span>
                    <input type="hidden" asp-for="Input.Passkey.CredentialJson" />
                    <input type="hidden" asp-for="Input.Passkey.Error" />
                    <button id="start-login" class="btn btn-link mx-auto">Sign in with Passkey</button>
                </div>
                <hr />
            </form>
        </section>
        <section>
            <div>
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </p>
                <p>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                </p>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!.OrderBy(p => p.DisplayName))
                                {
                                    <button type="submit" class="btn btn-link mx-auto p-0" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                        <img src="@(Url.Content($"~/images/{provider.Name}/continue-with.png"))" alt="Sign in with @provider.Name" />
                                    </button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        // serialize token to produce a safe JS string literal without HTML-encoding
        const antiForgeryToken = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Antiforgery.GetAndStoreTokens(HttpContext).RequestToken));

        document.getElementById('start-login').addEventListener('click', async (event) => {
            event.preventDefault();
            try {
                const optionsResp = await fetch('@Url.Page("/Account/Login", "MakeAssertionOptions")', {
                    method: 'POST',
                    credentials: 'same-origin',
                    headers: {
                        'RequestVerificationToken': antiForgeryToken
                    }
                });
                const optionsJson = await optionsResp.json();
                const options = PublicKeyCredential.parseRequestOptionsFromJSON(optionsJson);
                const assertion = await navigator.credentials.get({ publicKey: options });
                
                var passkeyInput = document.getElementById("Input_Passkey_CredentialJson");
                passkeyInput.value = JSON.stringify(assertion);
                document.querySelector('#account').submit();
                passkeyInput.value = "";
            } catch (ex) {
                console.log(ex);
            }
        });
    </script>
}
