@page
@model WebApp.Pages.Pools.IndexModel
@{
    ViewData["Title"] = "Pools";
}
<h1 class="mb-4">Pools</h1>
<a asp-page="Create" class="btn btn-primary mb-3">Create New Pool</a>
<table class="table table-striped table-bordered align-middle">
    <thead class="table-light">
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th style="width: 350px;"></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var pool in Model.Pools)
    {
        <tr>
            <td>@pool.Name</td>
            <td>@pool.Year</td>
            <td>
                <a asp-page="Edit" asp-route-id="@pool.Id" class="btn btn-sm btn-warning me-1">Edit</a>
                <a asp-page="Details" asp-route-id="@pool.Id" class="btn btn-sm btn-info me-1">Details</a>
                <a asp-page="Delete" asp-route-id="@pool.Id" class="btn btn-sm btn-danger me-1">Delete</a>
                <a asp-page="AddUsers" asp-route-id="@pool.Id" class="btn btn-sm btn-success">Update Players</a>
            </td>
        </tr>
    }
    </tbody>
</table>